#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-submit{
  display: flex;
  justify-content: space-between;

  width: 400px;
}

.form-data{
  display: flex;
  flex-direction: column;
}

thead{

}

/* .table-heder{
  text-align: left;
} */

table{
  width: 400px;
}

.action{
  width: 80px;
}

.icon{
  width: 17px;
}

.icon:hover{
  cursor: pointer;
}
