#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-submit{
  display: flex;
  justify-content: space-between;

  width: 400px;
  height: 45px;
}

.form-data{
  display: flex;
  flex-direction: column;
}

.form-header{
  text-align: left;
  margin-bottom: 2px;
}

.input-distance{
  padding: 0;
  padding-left: 2px;
}

.form-button{
  /* box-sizing: border-box;
  height: 45px; */
  margin-top: 6px;
  padding: 5px 10px;
  border: 1px solid black;
}

.table-header{
  padding: 0;
  padding-top: 10px;
  text-align: left;
}

table{
  width: 400px;
}

td{
  padding: 0;
  height: 20px;
}

.action{
  width: 75px;
}

.date{
  width: 145px;
}

.icon{
  width: 17px;
  margin: 4px 5px;
}

.icon:hover{
  cursor: pointer;
}
